html{
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

header{
  background: rgb(217, 83, 83);
  color: white;
  display: block;
  vertical-align: middle;
}

.navbar{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

.logo{
  color: white;
  text-decoration: none;
  vertical-align: middle;
  padding: 0;
  align-content: flex-start;
}

header .logo svg{
  display: inline-block;
  vertical-align: middle;
}

svg path{
  fill: white;

  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

header svg:hover #circle{
  fill: #9e1919;
}

.logo-info{
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  padding: 7px 0;
  line-height: 1.4;
}

.logo-info h1{
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
}

.logo-info h2{
  font-size: 0.875em;
}

nav{
  display: block;
  position: relative;
  top: 7px;
  height: 100%;
  margin-top: 0;
  margin-right: -12px;
  background: none;
  align-content: flex-end;
}

nav ul{
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  vertical-align: middle;

  font-size: 14px;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
}

nav ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 7em;
  height: 3em;
}

nav ul a {
  text-decoration: none;
  color: white;
  background: none;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px rgb(217, 83, 83);

  padding: 1em 0.5em;
  position: relative;

  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

nav ul a::before, nav ul a::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
}

nav ul a::before, nav ul a::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

nav ul a::before {
  top: 0;
  left: 0;
}

nav ul a::after {
  bottom: 0;
  right: 0;
}

nav ul a:hover::before, nav ul a:hover::after {
    width: 100%;
    height: 100%;
  }

nav ul a:hover::before {
  border-top-color: #9e1919;
  border-right-color: #9e1919;
  -webkit-transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
  transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
}

nav ul a:hover::after {
  border-bottom-color: #9e1919;
  border-left-color: #9e1919;
  -webkit-transition: border-color 0s ease-out 0.2s, width 0.1s ease-out 0.2s, height 0.1s ease-out 0.3s;
  transition: border-color 0s ease-out 0.2s, width 0.1s ease-out 0.2s, height 0.1s ease-out 0.3s;
}

.hire a{
  background-color: rgba(158, 25, 25, 0.5);
  box-shadow: inset 0 0 0 2px rgba(158, 25, 25, 0);
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.hire a:hover{
  background-color: rgba(158, 25, 25, 1);
}

.jumbotron{
  background: rgb(217, 83, 83);
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 20px 30px 20px;
  color: white;
  text-align: center;
  display: block;
  vertical-align: middle;
  height: 30%;
  max-height: 720px;
}

.jumbotron header{
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.6;
  max-width: 1150px;
  margin: 0 auto;
  padding: 120px 10px;
  text-align: center;
  vertical-align: middle;
}

.jumbotron h1{
  display: block;
  font-size: 2.4em;
  letter-spacing: 0.02em;
}

strong{
  font-weight: bold;
}

.contact-form{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-form form{
  display: flex;
  width: 90%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.contact-form form .top{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.contact-form form .left{
  width: 40%;
}

.contact-form form .right{
  width: 50%;
}

.contact-form form .bottom{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
}

.contact-form form input{
  border: 0;
  outline: 0;
  padding: 1em;
  background: white;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 2em;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.contact-form form input:focus{
  -moz-box-shadow: 0 0px 2px rgb(217, 83, 83);
  -webkit-box-shadow: 0 0px 2px rgb(217, 83, 83);
  box-shadow: 0 0px 2px rgb(217, 83, 83);
}

.contact-form #subject{

}

.contact-form #name{

}

.contact-form #email{

}

.contact-form #description{
  height: 126px;
  resize: vertical;
  overflow: auto;
}

.contact-form form .submit{
  margin: 10px 0 10px 0;
  width: 20%;
  color: white;
  background: rgb(217, 83, 83);
  cursor: pointer;
  font-weight: bold;
}

.contact-form form .submit:hover, .contact-form form .submit:active{
  -moz-box-shadow: 0 1px 1px 1px #9e1919;
  -webkit-box-shadow: 0 1px 1px 1px #9e1919;
  box-shadow: 0 1px 1px 1px #9e1919;
}

.footer-container{
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  display: block;
  vertical-align: middle;
}

.footer{
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  padding: 2em 1em 2em 1em;

  font-size: 1em;
  background: #181818;
  color: #7d7d7d;
  display: flex;
  flex-direction: row;
}

.info{
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.info p{
  margin-bottom: 1em;
}

.info .pic-container{
  float: left;
  margin-right: 14px;
  margin-bottom: 4px;
}

.info .pic-container img{
  margin: 0;
  display: block;
  border: 4px solid black;
  height: 100px;
}

.social-links{
  width: 30%;
  display: inline-block;
  font-size: 0.875em;
}

.social-links:nth-child(3n+2){
  margin-left: 5%;
  margin-right: 5%;
}

.social-links li{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.social-links p{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: calc(100% - 46px);
  margin-left: 15px;
}

.social-links img{
  transition-duration: 1s;
  transition-property: color opacity;
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.social-links img:focus, .social-links img:hover{
  -webkit-filter: opacity(100%);
  filter: opacity(100%);
}

.footer a{
  text-decoration: none;
  color: white;

  transition-duration: 1s;
  transition-property: color;
}

.footer a:hover, .footer a:active{
  color: rgb(217, 83, 83);
}

.links{
  width: 30%;
  text-align: left;
}

.links dl{
  display: block;
}

.links dt{
  margin-bottom: 5px;
}

.links dd{
  margin-bottom: 10px;
}
